@import "reset.css";
::-moz-selection {
  background-color: #100da5;
}
::-webkit-selection {
  background-color: #100da5;
}
::selection {
  background-color: #100da5;
}
body {
  height: 100%;
  font-family: Cabin, Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 100%;
  color: #000;
  text-shadow: 0px 1px 0px #fff;
  background-color: #e5e5e5;
}
body > article,
body > div,
body > section {
  display: block;
  font-size: 1.0em;
  line-height: 1.3em;
}
a {
  -webkit-transition: color .20s linear;
  -moz-transition: color .20s linear;
  transition: color .20s linear;
}
a:link,
a:visited {
  color: #0d56a6;
  text-decoration: none;
}
a:hover,
a:active {
  color: #100da5;
}
a:link {
  -webkit-tap-highlight-color: #fff;
}
h1 {
  font-weight: bold;
}
h2 {
  font-weight: normal;
}
b {
  font-weight: bold;
}
em {
  font-style: italic;
}
abbr[title] {
  border-bottom-color: #555;
}
ol,
ul {
  list-style-type: none;
  margin-left: 2em;
}
.wrapper {
  width: 760px;
  margin: 0 auto;
}
dl dt,
dl dd {
  display: inline;
}
dl dt:after {
  content: ': ';
}
header,
section#education,
section#experience,
section#skills {
  padding: 20px;
  font-size: 1.2em;
  line-height: 1.2em;
}
header > h1,
section#education > h1,
section#experience > h1,
section#skills > h1 {
  text-transform: uppercase;
}
section#education,
section#experience {
  border-bottom: 1px solid #0d56a6;
}
header {
  background-color: #0d56a6;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
}
header .top {
  display: block;
  overflow: hidden;
  position: relative;
}
header .name {
  font-weight: bold;
  font-size: 3.0em;
  line-height: 1.4em;
  position: absolute;
  bottom: 0;
}
header .contact {
  float: right;
  padding-left: 10px;
  border-left: 5px solid #100da5;
}
header .name,
header .address,
header .email,
header .tel {
  display: block;
}
header .address {
  clear: both;
}
header a:link,
header a:visited {
  color: #ffd440;
}
header a:hover,
header a:active {
  color: #ffdf73;
  text-decoration: underline;
}
section#experience > ol > li {
  margin-bottom: 2em;
}
section#experience .company {
  border-bottom: 1px solid #0d56a6;
}
section#experience .title {
  display: inline-block;
  margin-bottom: 0.3em;
  font-style: italic;
}
section#experience ul.duties {
  clear: both;
}
section#experience ul.duties li {
  margin-bottom: 0.3em;
}
section#experience ul.duties li:before {
  content: '\2022';
  display: inline-block;
  margin: 0 10px 0 -20px;
}
section#education li h1 {
  border-bottom: 1px solid #0d56a6;
}
section#skills {
  margin-bottom: 0;
}
section#skills > ol > li {
  margin-bottom: 1em;
}
section#skills .electrical ul,
section#skills .electrical li {
  display: inline;
}
section#skills .computer h2,
section#skills .computer ul ul,
section#skills .computer li li {
  display: inline;
  margin-left: 0;
}
section#skills .computer h2 {
  font-weight: bold;
}
li.skill {
  display: inline;
}
li.skill + li.skill:before {
  content: ', ';
}
.title {
  float: left;
  clear: left;
}
.timeframe {
  display: inline;
  float: right;
  color: #444;
  font-size: 0.8em;
}
@media screen and (max-width: 580px) {
  body {
    width: 100%;
  }
  body > article,
  body > div,
  body > section {
    min-width: 100%;
    width: 100%;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
