$obLightestBlue: #86AAD2;
$obLightBlue: #0d56a6;
$obDarkBlue: #100DA5;
$obYellow: #ffd440;
$obLightYellow: #ffdf73;
$textColor:  black;
$backgroundColor: #f0f0f0;
$leftColumnBackground: #f0f0f0;
$leftColumnText: #3f3f3f;

ol {
  padding-top: 0;
  padding-left: 0;
}

@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
  color: $normal;
  @if $visited {
    &:visited {
      color: $visited; } }
  @if $focus {
    &:focus {
      color: $focus; } }
  @if $hover {
    &:hover {
      color: $hover; } }
  @if $active {
    &:active {
      color: $active; } } }

@mixin easyclearfix {
  display: inline-block;

  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }

  & {
    display: block;
  }
}

@mixin sprite-replace-text ($sprite, $img-name){
  @include hide-text;
  background: sprite($sprite, $img-name) no-repeat;
  display: inline-block;
  width: image-width(sprite-file($sprite, $img-name));
  height: image-height(sprite-file($sprite, $img-name));
}

@mixin inline-box() {
  display: inline-block;
  min-height: 1em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 1em;
}
