@media screen and (max-width: 580px) {
	body {
		width: 100%;

		> article,
		> div,
		> section {
			min-width: 100%;
			width: 100%;
		}
	}

	h1 {
		text-align: center;
		margin-bottom: 1em;
	}
	.wrapper {
		width: 100%;
	}

	header {
		.name,
		.contact {
			color: black;
			float: none;
			text-align: center;
		}

		.name {
			position: relative;
			font-size: 1.75em;
			line-height: 1.75em;
			margin: 0;
		}

		.contact {
			display: block;
			border: none;
			padding-left: 0px;
			width: 100%;

			dd {
				&:after {
					content: "\A";
					white-space: pre;
				}
			}

			a:link,
			a:active,
			a:focus {
				 color: black;
			}
		}
	}

	#skills {
		border-bottom: 1px solid #bbb;
		color: black;
		float: none;
		text-align: left;
		width: 100%;

		ul {
			overflow: hidden;
		}

		ul.skills {
			li {
				display: inline;
				float: left;

				+ li {
					&:before {
						content: '\2219';
						margin: 0 0.25em;
					}
				}
			}
		}
	}
}

