@import "style";

* {
	background: transparent !important;
	color: black !important;
	text-shadow: none !important;
}

body {
	background-color: white;
	color: black;
	font-size: 90%;
	line-height: 90%;

	> article,
	> div,
	> section {
		line-height: 1.5em;
	}
}

a, a:visited {
	border-bottom-width: 0 !important;
	color: #444 !important;
	text-decoration: underline;
}

#experience {
	a[href]:after {
		font-size: 80%;
		content: " <" attr(href) ">" !important;
	}

	dd {
		&:after {
			content: "\A";
			white-space: pre;
		}
	}
}

/*
@page {
	margin: 0.5cm;
}
*/

h2 {
	page-break-after: avoid;
}
