@import 'variables';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background-color: $historyBackgroundColor;
  box-sizing: border-box;
  color: $primaryColor;
  font-family: $primaryFont;
  font-size: 1.0em;
  line-height: 2em;
}

a {
  transition: all .20s linear;

  &:link {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  clear: left;
}
