$primaryFont: 'Roboto', sans-serif;
$primaryColor: #000;
$mutedColor: #ccc;

$linkBoxColor: #3f6bce;
$linkBoxHoverBackgroundColor: #000;
$detailsBackgroundColor: #080808;
$historyBackgroundColor: #ebebeb;

$obLightestBlue: #86AAD2;
$obLightBlue: #0d56a6;
$obDarkBlue: #100DA5;

$blockMargin: 2rem;
