@import 'variables';
:root {
	--primaryFont: 'Roboto', sans-serif;
	--primaryColor: #000;
	--mutedColor: #ccc;

	--linkBoxColor: #3f6bce;
	--linkBoxHoverBackgroundColor: #000;
	--detailsBackgroundColor: #080808;
	--historyBackgroundColor: #ebebeb;

	--obLightestBlue: #86AAD2;
	--obLightBlue: #0d56a6;
	--obDarkBlue: #100DA5;

	--blockMargin: 2rem;
	--spaceship: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%237f7f7f;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EArtboard 1%3C/title%3E%3Cpath class='cls-1' d='M1.3,1.23h0L14.76,5.9a.1.1,0,0,1,0,.19L1.33,10.77h0a.13.13,0,0,1-.09-.2L4.87,6.14a.3.3,0,0,0,0-.4L1.21,1.43a.12.12,0,0,1,.09-.2M1.3,0h0A1.29,1.29,0,0,0,.12.8,1.41,1.41,0,0,0,.33,2.25L3.48,6,.31,9.77a1.39,1.39,0,0,0-.19,1.44A1.29,1.29,0,0,0,1.29,12a1.41,1.41,0,0,0,.41-.07L15.13,7.26a1.35,1.35,0,0,0,0-2.52L1.71.07A1.41,1.41,0,0,0,1.3,0Z'/%3E%3C/svg%3E");
	--spaceshipShot: url("data:image/svg+xml,%3Csvg data-name='Layer 1' version='1.1' viewBox='0 0 25 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%237f7f7f;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EArtboard 1%3C/title%3E%3Cpath class='cls-1' d='m1.1096 3.6318h14.247c0.29784-0.30338 0.70606-0.66727-0.03844-1.3079h-14.209c-1.0203 0.54441-0.42938 1.0187 7.33e-4 1.3079z' fill='%237f7f7f'/%3E%3C/svg%3E%0A");
}
/* Normalize */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background-color: var(--historyBackgroundColor);
  box-sizing: border-box;
  color: var(--primaryColor);
  font-family: var(--primaryFont);
  font-size: 1.0em;
  line-height: 2em;
}

a {
  transition: all .20s linear;

  &:link {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  clear: left;
}
/* End Normalize */

.print-only {
  display: none;
}

abbr[title] {
  border-bottom-color: #888;
}

dd {
  margin-left: 0;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;

  dt, dd {
    display: grid;
    vertical-align: bottom;
  }

  dt {
    margin-right: 1rem;
  }
}

ul, ol {
  display: block;
  list-style-type: none;
  padding-left: 0;

  &.comma-list {
    overflow: auto;

    li {
      display: inline;
      float: left;

      &:not(:last-child) {
        &:after {
          content: ',';
          margin-right: 0.5rem;
        }
      }

      & + li {
        &:last-child {
          &:before {
            content: 'and ';
          }
        }
      }
    }
  }
}

.name {
  font-size: 2.5rem;
}

#details-pane {
  overflow: auto;
}
#history-pane {
  overflow: hidden;
}

#details-pane {
  background-color: var(--detailsBackgroundColor);
  color: #fff;
  font-family: 'Nanum Gothic Coding', monospace;
  letter-spacing: 0.1em;

  .wrapper {
    float: right;
    padding: var(--blockMargin);
  }
    .details {
      display: flex;
      flex-direction: column;
    }

  a {
    &:link,
    &:visited {
      -webkit-tap-highlight-color: #fff;
      color: var(--obLightestBlue);
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  abbr[title] {
    border-bottom-color: #333;
  }

  h1 {
    display: none;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h2, dt {
    text-transform: uppercase;
  }

  dd, .skills {
    color: var(--mutedColor);
  }

  .contact,
  ul {
    margin-top: 0;
  }
}

#history-pane {
  margin: var(--blockMargin);
  text-shadow: 0px 1px 0px #fff;

  .name,
  .client,
  .job-title {
    margin-top: 0;
  }

  .client {
    margin-bottom: 0;
  }

  .job-title {
    font-weight: normal;
  }

  .timeframe {
    float: right;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 0.9rem;
  }

  .client-links {
    li {
      display: inline-block;
      margin-bottom: 1rem;
      margin-right: 1rem;
    }

    a {
      background-color: var(--obLightBlue);
      border-radius: 4px;
      color: #fff;
      display: inline-block;
      font-family: 'Nanum Gothic Coding', monospace;
      line-height: 2.25rem;
      padding: 0rem 1rem;
      text-shadow: none;
      text-transform: uppercase;

      &:hover,
      &:active {
        background-color: var(--linkBoxHoverBackgroundColor);
      }
    }
  }

  .technologies {
    h3 {
      display: inline-block;
      float: left;
      margin-right: 0.5em;
      margin-top: 0;
    }
  }

  .duties {
    display: block;

    h3 {
      float: left;
      margin-right: 0.5em;
      margin-top: 0;
    }

    p {
      display: block;
      overflow: hidden;
    }
  }

}

#work-history,
#additional-projects {
  > li {
    display: block;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    position: relative;

    &:after, &:before {
      content: '';
      height: 1rem;
      position: absolute;
      width: 100%;
    }

    &:before {
      background-image: var(--spaceshipShot);
      background-repeat: repeat-x;
      bottom: 0;
      left: 1.8rem;
    }

    &:after {
      background-image: var(--spaceship);
      background-repeat: no-repeat;
      bottom: 0.25rem;
      left: 0;
    }
  }
}


@media screen and (max-width: 499px) {
  #history-pane {
    .technologies, .duties {
      h3 {
        display: block;
        float: none;
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (min-width: 500px), print {
  html {
    line-height: 2.25em;
  }

  #history-pane {
    .client,
    .job-title {
      display: inline-block;
      margin-top: 0;
    }

    .job-title {
      &:before {
        content: ', ';
        font-weight: normal;
      }
    }
  }
}

@media screen and (max-width: 779px) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 780px) {
  body {
    display: grid;
    grid-template-columns: 3fr 7fr;
  }

  #details-pane {
    .wrapper {
      max-width: 24em;
    }

    .details {
      flex-direction: column-reverse;
    }

     nav {
       h2 {
         display: none;
       }
     }
  }

  #history-pane {
    max-width: 1020px;
  }
}

@media screen and (max-width: 900px) {
  #history-pane {
    .timeframe {
      float: none;
    }
  }
}
@media screen and (min-width: 781px) and (max-width: 1200px) {
  #details-pane {
    .contact {
      display: block;

      dd {
        margin-left: 1rem;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  #details-pane {
    .wrapper {
      padding: calc(2 * var(--blockMargin));
    }
  }
  #history-pane {
    margin: calc(2 * var(--blockMargin));
  }
}

@media print {
  .print-only {
    display: block !important;
  }

  .not-print {
    display: none !important;
  }

  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
  }

  body {
    background-color: white;
    display: block;
    font-size: 80%;
    line-height: 1.5rem;
  }

  a, a:visited {
    border-bottom-color: black !important;
  }

  h1, h2, h3 {
    page-break-after: avoid;
    line-height: 1rem !important;
  }

  #work-history {
    > li {
        page-break-inside: avoid;
    }
  }

  h2, h3 {
    font-size: 1rem;
  }

  a, a:visited {
    border-bottom-width: 0 !important;
    color: #444 !important;
    text-decoration: underline;
  }

  #details-pane {
    font-size: 90%;

    h2 {
      font-size: 90%;
      margin-top: 0;
    }

    .wrapper {
      float: none;
      max-width: none;
      padding-bottom: 0;
      padding-top: 0;
    }

    .details {
      display: flex;
      flex-direction: row;
    }

    .skills {
      font-size: 90%;
      margin-right: 3rem;
    }
  }

  #history-pane {
    margin-top: 0;
    max-width: 100%;

    .client {
      margin-bottom: 1rem;
    }

    .name {
      display: none;
    }

    .client-links {
      li {
        display: block;
        margin-bottom: 0.5rem;
      }

      a {
        display: block;
        font-size: 80%;
        line-height: 1rem;
        padding: 0;

        &[href]:after {
        visibility: visible;
          content: " <" attr(href) ">" !important;
          text-transform: none;
        }
      }
    }
  }

  #work-history {
    > li {
      padding-bottom: 0rem;

      &:before, &:after {
        display: none;
      }
    }
  }
}
