@import 'modules/base';
@import 'modules/svg';


.print-only {
  display: none;
}

abbr[title] {
  border-bottom-color: #888;
}

dd {
  margin-left: 0;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;

  dt, dd {
    display: grid;
    vertical-align: bottom;
  }

  dt {
    margin-right: 1rem;
  }
}

ul, ol {
  display: block;
  list-style-type: none;
  padding-left: 0;

  &.comma-list {
    overflow: auto;

    li {
      display: inline;
      float: left;

      &:not(:last-child) {
        &:after {
          content: ',';
          margin-right: 0.5rem;
        }
      }

      & + li {
        &:last-child {
          &:before {
            content: 'and ';
          }
        }
      }
    }
  }
}

.name {
  font-size: 2.5rem;
}

#details-pane {
  overflow: auto;
}
#history-pane {
  overflow: hidden;
}

#details-pane {
  background-color: $detailsBackgroundColor;
  color: #fff;
  font-family: 'Nanum Gothic Coding', monospace;
  letter-spacing: 0.1em;

  .wrapper {
    float: right;
    padding: $blockMargin;
  }
    .details {
      display: flex;
      flex-direction: column;
    }

  a {
    &:link,
    &:visited {
      -webkit-tap-highlight-color: #fff;
      color: $obLightestBlue;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  abbr[title] {
    border-bottom-color: #333;
  }

  h1 {
    display: none;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h2, dt {
    text-transform: uppercase;
  }

  dd, .skills {
    color: $mutedColor;
  }

  .contact,
  ul {
    margin-top: 0;
  }
}

#history-pane {
  margin: $blockMargin;
  text-shadow: 0px 1px 0px #fff;

  .name,
  .client,
  .job-title {
    margin-top: 0;
  }

  .client {
    margin-bottom: 0;
  }

  .job-title {
    font-weight: normal;
  }

  .timeframe {
    float: right;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 0.9rem;
  }

  .client-links {
    li {
      display: inline-block;
      margin-bottom: 1rem;
      margin-right: 1rem;
    }

    a {
      background-color: $obLightBlue;
      border-radius: 4px;
      color: #fff;
      display: inline-block;
      font-family: 'Nanum Gothic Coding', monospace;
      line-height: 2.25rem;
      padding: 0rem 1rem;
      text-shadow: none;
      text-transform: uppercase;

      &:hover,
      &:active {
        background-color: $linkBoxHoverBackgroundColor;
      }
    }
  }

  .technologies {
    h3 {
      display: inline-block;
      float: left;
      margin-right: 0.5em;
      margin-top: 0;
    }
  }

  .duties {
    display: block;

    h3 {
      float: left;
      margin-right: 0.5em;
      margin-top: 0;
    }

    p {
      display: block;
      overflow: hidden;
    }
  }

}

#work-history,
#additional-projects {
  > li {
    display: block;
    padding-bottom: 3rem;
    margin-bottom: 2rem;
    position: relative;

    &:after, &:before {
      content: '';
      height: 1rem;
      position: absolute;
      width: 100%;
    }

    &:before {
      background-image: $spaceshipShot;
      background-repeat: repeat-x;
      bottom: 0;
      left: 1.8rem;
    }

    &:after {
      background-image: $spaceship;
      background-repeat: no-repeat;
      bottom: 0.25rem;
      left: 0;
    }
  }
}


@media screen and (max-device-width: 499px) {
  #history-pane {
    .technologies, .duties {
      h3 {
        display: block;
        float: none;
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (min-device-width: 500px), print {
  html {
    line-height: 2.25em;
  }

  #history-pane {
    .client,
    .job-title {
      display: inline-block;
      margin-top: 0;
    }

    .job-title {
      &:before {
        content: ', ';
        font-weight: normal;
      }
    }
  }
}

@media screen and (max-device-width: 779px) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (min-device-width: 780px) {
  body {
    display: grid;
    grid-template-columns: 3fr 7fr;
  }

  #details-pane {
    .wrapper {
      max-width: 24em;
    }

    .details {
      flex-direction: column-reverse;
    }

     nav {
       h2 {
         display: none;
       }
     }
  }

  #history-pane {
    max-width: 1020px;
  }
}

@media screen and (max-device-width: 900px) {
  #history-pane {
    .timeframe {
      float: none;
    }
  }
}
@media screen and (min-device-width: 781px) and (max-device-width: 1200px) {
  #details-pane {
    .contact {
      display: block;

      dd {
        margin-left: 1rem;
      }
    }
  }
}

@media screen and (min-device-width: 1280px) {
  #details-pane {
    .wrapper {
      padding: calc(2 * #{$blockMargin});
    }
  }
  #history-pane {
    margin: calc(2 * #{$blockMargin});
  }
}

@media print {
  .print-only {
    display: block !important;
  }

  .not-print {
    display: none !important;
  }

  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
  }

  body {
    background-color: white;
    display: block;
    font-size: 80%;
    line-height: 1.5rem;
  }

  a, a:visited {
    border-bottom-color: black !important;
  }

  h1, h2, h3 {
    page-break-after: avoid;
    line-height: 1rem !important;
  }

  #work-history {
    > li {
        page-break-inside: avoid;
    }
  }

  h2, h3 {
    font-size: 1rem;
  }

  a, a:visited {
    border-bottom-width: 0 !important;
    color: #444 !important;
    text-decoration: underline;
  }

  #details-pane {
    font-size: 90%;

    h2 {
      font-size: 90%;
      margin-top: 0;
    }

    .wrapper {
      float: none;
      max-width: none;
      padding-bottom: 0;
      padding-top: 0;
    }

    .details {
      display: flex;
      flex-direction: row;
    }

    .skills {
      font-size: 90%;
      margin-right: 3rem;
    }
  }

  #history-pane {
    margin-top: 0;
    max-width: 100%;

    .client {
      margin-bottom: 1rem;
    }

    .name {
      display: none;
    }

    .client-links {
      li {
        display: block;
        margin-bottom: 0.5rem;
      }

      a {
        display: block;
        font-size: 80%;
        line-height: 1rem;
        padding: 0;

        &[href]:after {
        visibility: visible;
          content: " <" attr(href) ">" !important;
          text-transform: none;
        }
      }
    }
  }

  #work-history {
    > li {
      padding-bottom: 0rem;

      &:before, &:after {
        display: none;
      }
    }
  }
}
