/* line 17, ../../../../home/openback/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../home/openback/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../home/openback/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../home/openback/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../home/openback/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../home/openback/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../home/openback/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../home/openback/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../home/openback/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
::-moz-selection {
  background-color: #100da5;
}

/* line 4, ../sass/style.scss */
::-webkit-selection {
  background-color: #100da5;
}

/* line 5, ../sass/style.scss */
::selection {
  background-color: #100da5;
}

/* line 7, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/style.scss */
body {
  height: 100%;
  font-family: Cabin,Verdana,Arial,Helvetica,sans-serif;
  font-size: 100%;
  line-height: 100%;
  color: black;
  text-shadow: 0px 1px 0px #ccc;
  background-color: #f0f0f0;
}
/* line 22, ../sass/style.scss */
body > article,
body > div,
body > section {
  display: block;
  font-size: 1.0em;
  line-height: 1.75em;
}

/* line 29, ../sass/style.scss */
a {
  -webkit-transition: color .20s linear;
  -moz-transition: color .20s linear;
  transition: color .20s linear;
}
/* line 35, ../sass/style.scss */
a:link, a:visited {
  color: black;
  border-bottom: 1px dotted #0d56a6;
  text-decoration: none;
}
/* line 42, ../sass/style.scss */
a:hover, a:active {
  color: #0d56a6;
}
/* line 46, ../sass/style.scss */
a:link {
  -webkit-tap-highlight-color: #fff;
}

/* line 51, ../sass/style.scss */
h1 {
  font-weight: bold;
  font-size: 1.2em;
}

/* line 56, ../sass/style.scss */
h2 {
  font-weight: normal;
}

/* line 60, ../sass/style.scss */
b {
  font-weight: bold;
}

/* line 61, ../sass/style.scss */
em {
  font-style: italic;
}

/* line 63, ../sass/style.scss */
abbr[title] {
  border-bottom-color: #888;
}

/* line 67, ../sass/style.scss */
ol, ul {
  list-style-type: none;
}

/* line 71, ../sass/style.scss */
.wrapper {
  width: 1020px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 78, ../sass/style.scss */
dl dt, dl dd {
  display: inline;
}

/* line 83, ../sass/style.scss */
#outline-title {
  display: none;
}

/* line 89, ../sass/style.scss */
header,
#experience,
#skills {
  padding: 1em;
  font-size: 1.2em;
}
/* line 93, ../sass/style.scss */
header > h1,
#experience > h1,
#skills > h1 {
  text-transform: uppercase;
}

/* line 98, ../sass/style.scss */
header {
  display: block;
  overflow: hidden;
  padding: 0;
}
/* line 103, ../sass/style.scss */
header .wrapper {
  position: relative;
}
/* line 107, ../sass/style.scss */
header .contact {
  background-color: #f0f0f0;
  color: black;
  display: block;
  float: left;
  margin-right: 1em;
  padding: 1em 1em 0 0;
  text-align: right;
  text-shadow: none;
  width: 14em;
}
/* line 118, ../sass/style.scss */
header .contact dt {
  width: 5em;
}
/* line 121, ../sass/style.scss */
header .contact dt:after {
  content: '\2219';
  margin: 0 0.2em;
}
/* line 128, ../sass/style.scss */
header .name {
  position: absolute;
  font-weight: bold;
  font-size: 3.5em;
  line-height: 2.5em;
  margin-left: 4.25em;
}

/* line 138, ../sass/style.scss */
#skills {
  background-color: #f0f0f0;
  color: black;
  float: left;
  padding-bottom: 0;
  text-align: right;
  width: 14em;
}
/* line 146, ../sass/style.scss */
#skills h2 {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 151, ../sass/style.scss */
#skills ul {
  margin: 0 0 1.25em 0;
}
/* line 155, ../sass/style.scss */
#skills li {
  display: block;
}

/* line 160, ../sass/style.scss */
#experience {
  display: block;
  overflow: hidden;
}
/* line 164, ../sass/style.scss */
#experience h2 {
  font-weight: bold;
}
/* line 169, ../sass/style.scss */
#experience > ol > li {
  margin-bottom: 2.4em;
}
/* line 174, ../sass/style.scss */
#experience .company {
  border-bottom: 1px solid #0d56a6;
}
/* line 178, ../sass/style.scss */
#experience dt {
  display: inline-block;
  font-size: 0.8em;
  margin-right: 0.25em;
  overflow: hidden;
  white-space: nowrap;
  width: 1.3em;
}
/* line 187, ../sass/style.scss */
#experience dd {
  margin-right: 1em;
}
/* line 193, ../sass/style.scss */
#experience dl *:nth-child(4n):after {
  content: "\A";
  white-space: pre;
}

/* line 201, ../sass/style.scss */
.timeframe {
  display: inline;
  float: right;
  color: #444;
  font-size: 0.8em;
}

/* line 209, ../sass/style.scss */
.technologies h3 {
  display: inline-block;
  float: left;
  margin-right: 0.5em;
}
/* line 215, ../sass/style.scss */
.technologies ul {
  display: inline;
  margin-left: 0;
}
/* line 219, ../sass/style.scss */
.technologies ul li {
  display: inline;
  float: left;
}
/* line 224, ../sass/style.scss */
.technologies ul li + li:before {
  content: ', ';
}

/* line 233, ../sass/style.scss */
.duties {
  display: block;
  clear: left;
}
/* line 237, ../sass/style.scss */
.duties h3 {
  float: left;
  margin-right: 0.5em;
}
/* line 242, ../sass/style.scss */
.duties p {
  display: block;
  overflow: hidden;
}

/* line 3, ../sass/print.scss */
* {
  background: transparent !important;
  color: black !important;
  text-shadow: none !important;
}

/* line 9, ../sass/print.scss */
body {
  background-color: white;
  color: black;
  font-size: 90%;
  line-height: 90%;
}
/* line 17, ../sass/print.scss */
body > article,
body > div,
body > section {
  line-height: 1.5em;
}

/* line 22, ../sass/print.scss */
a, a:visited {
  border-bottom-width: 0 !important;
  color: #444 !important;
  text-decoration: underline;
}

/* line 29, ../sass/print.scss */
#experience a[href]:after {
  font-size: 80%;
  content: " <" attr(href) ">" !important;
}
/* line 35, ../sass/print.scss */
#experience dd:after {
  content: "\A";
  white-space: pre;
}

/*
@page {
	margin: 0.5cm;
}
*/
/* line 48, ../sass/print.scss */
h2 {
  page-break-after: avoid;
}
